includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src

    # The level 8 is the highest level
    level: 6

    ignoreErrors: []

    excludes_analyse: []

    checkMissingIterableValueType: false
